.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #0f172a;
}

.controls{
  position: absolute;
  top: 80px;
  text-align: center;
}

.button {
  padding: 15px 32px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  /* border: 2px solid #485569; */
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  background-color: green;
}

.seed {
  margin-top: 30px;
  font-size: 16px;
  color: #fff;
}

.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, auto);
}

.cell{
  width: 56px;
  height:56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  border-radius: 4px;
  border: 2px solid #485569;
  color: #fff;
  background-color: transparent;
  text-shadow: 1px 1px 1px #000;
}

.absent{
  border: none;
  background-color: #334155;
}

.present{
  border: none;
  background-color: #eab307;
}

.correct{
  border: none;
  background-color: #23c55e;
}